<!DOCTYPE html>
<html lang="da-DK" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/erhvervStyle.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/profileStyle.css}" />
</head>

<body>
    <div th:replace="@{/frontend/menubar.html}"></div>
    <div class="extraSpace50"></div>

    <div id="user_div"></div>
    <div id="user_div2"></div>
    
    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    <div class="center-text">
        <button class="but-hover" onclick="plusSlides(-1)">❮ Tilbage</button>
        <button class="but-hover" onclick="plusSlides(1)">Frem ❯</button>
    </div>
    <div class="extraSpace30"></div>
    <div class="center-text" id="dotsEmployer"></div>

    <div id="clear-float"></div>
    <div class="extraSpace100"></div>
    <div th:replace="@{/frontend/footer.html}"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

     <!-- The core Firebase JS SDK is always required and must be listed first -->
     <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-firestore.js"></script>
     <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-storage.js"></script>
 
     <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#config-web-app -->
     <script src="/__/firebase/6.6.1/firebase-app.js"></script>
     <!-- Add Firebase products that you want to use -->
     <script src="/__/firebase/6.6.1/firebase-firestore.js"></script>
     <script src="/__/firebase/6.6.1/firebase-storage.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/JavaScript/divers.js}"></script>
    <script th:src="@{/JavaScript/readOnlyFB.js}"></script>

</body>
</html>