<!DOCTYPE html>
<html lang="da-DK">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link href="CSS/erhvervStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="includedMenubar"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey" style="height: 510px">
        <div class="section-grey-text">
            <h2>En professionel børnepasser og rengøringshjælp i samme person?</h2>
            <p class="section-grey-text2">
                <i>- Lyder det som et perfekt match til dig og din familie?</i> <br><br>

                Vi har hjulpet flere familier med at få en nemmere hverdag.<br>
                Vi har succes med at matche familier med børnepassere,<br>
                som også kan gøre rent før eller efter børnepasningen starter eller slutter.<br><br>
            </p>
            <p style="font-size: 15px"> 
                <strong><i>"RexKyoo er en virksomhed hvor du får professionel sparring<br>
                og støtte fra første dag du påbegynder din første arbejdsdag.<br>
                Det betyder at du føler dig tryg og taget godt imod.<br>
                Samtidig får du lov til at komme helt tæt på dine kunder,<br>
                som du også får tætte arbejdsrelationer"</i></strong>
                <br><br>
                Anne Kathrine Sund 33 år og uddannet pædagog.
            </p>    
            <p style="line-height:1.5">    
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
        <img class="section-grey-image2" src="../../static/images/divers/coworker.png">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    <div class="bagground-image" style="background-image: url(../../static/images/kids/playroom.jpg);">
        <div class="bagground-image-textbox">
            <h2>BØRNEPASSER og RENGØRINGSHJÆLP</h2>
            <p>
                Alle som arbejder med børn har en ren straffeattest samt en ren børneattest. 
                Typisk, vil børnepasseren have minimum 4 års relevant erfaring eller selv har børn,
                og dermed kendskab til børnes udviklingsstadier.
                Det kan også være en studerende som er under uddannelse som pædagog,
                SOSU-assistent, sygeplejerske eller jordemoder.<br>
                <br>
            </p>
            <p style="line-height:2">
                Vi kan hjælpe med:<br>
                <i class="fas fa-check"></i> Børnepasning I hjemmet efter aftale <br>
                <i class="fas fa-check"></i> Afhentning og aflevering af børn til og fra<br>
                &nbsp;&nbsp;&nbsp;&nbsp; daginstitution, skole, fritidsklub og/eller fritidsaktiviteter<br>
                <i class="fas fa-check"></i> Give sparring og råd til barnets udviklingsstadier<br>
                <i class="fas fa-check"></i> Være behjælpelig både fuldtid og deltid<br>
                <i class="fas fa-check"></i> Rengøring af hjemmet<br>   
            </p>
            <p>
                Rengøringen vil ikke foregå samtidig med børnepasningen, men <br>
                det skal være før børnepasningen påbegyndes eller afsluttes,<br>   
                da vi forventer at børnepasseren har sin fulde opmærksom på børnene.<br><br>

                Priserne varierer afhængig af børnepasserens erfaring,<br>
                og om de er færdig uddannet, <br>
                men de starter typisk på 225 DKK per time.<br>
                (Husk det kan fratrækkes over servicefradraget).<br>
            </p>
            <p style="line-height:2">
                Vil du høre mere er du velkommen til at kontakte os på:<br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
    </div>

    <div class="extraSpace200"></div>
    <div class="extraSpace200"></div> 
    <div id="clear-float"></div>

    <div class="box-profile">
        <img class="box-profile-image" src="../../static/images/anbefalinger/anne.jpg">
        <div class="box-profile-text">
            <h2>Anne Linnet</h2>
            <h4 style="line-height:1.5">
            Jeg kan på det varmeste anbefale firmaet RexKyoo<br>
            Rengøring,der ledes af Thilde Rex.<br>
            Jeg har gjort brug af de ansatte i firmaet både<br>
            til rengøring og til børnepasning.<br>
            Det er altid pålidelige og ordentlige mennesker <br>
            Thilde Rex sender ud<br>
            og de er gode til deres arbejde.
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
        <img class="box-profile-image" src="images/anbefalinger/gunvor2.jpg">
        <div class="box-profile-text">
            <h2>Gunvor</h2>
            <h4 style="line-height:1.5">
            ”Fantastisk initiativ!!<br>
            Thilde har hjulpet os med at finde<br>
            den skønneste private børnepasser på ingen tid!<br>
            Det har været en kæmpe hjælp,<br>
            og jeg kan virkelig varmt anbefale RexKyoo.<br>
            Thilde og hendes team er super <br>
            kompetente, tjekkede og ikke mindst utrolig søde! <br>
            5 stjerner er faktisk for lidt!!”<br>
            <br>
            DR symphoni orkester og mor til Anker
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
        <img class="box-profile-image" src="../../static/images/anbefalinger/amanda.png">
        <div class="box-profile-text">
            <h2>Amanda Collin</h2>
            <h4 style="line-height:1.5">
            ”Vi havde aldrig fundet vores vidunderlige babysitter<br>
            eller i det hele taget fået taget hul på privat børnepasning,<br>
            havde det ikke været for Thilde!<br>
            Kan varmt anbefales herfra!!”<br>
            <br>
            Skuespiller på Det kongelige teater og mor til Frankie.
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace50"></div> 
    <div id="includedFooter"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JS/divers.js"></script>
</body>

</html>