<!DOCTYPE html>
<html lang="da-DK" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/erhvervStyle.css}" />
</head>

<body>
    <div th:replace="@{/frontend/menubar.html}"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey">
        <div class="section-grey-text">
            <h3>UDFØRLIGE RENGØRINGSPLANER og KVALITETSTJEK</h3>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i> <br><br>
                Vi har erfaring med at udarbejde udførlige rengøringsplaner,<br>
                som er kortlagt over jeres fitnesscenter. Vi husker alle detaljer <br>
                lige fra gulvvask, aftørring af ventilationer<br>
                og rengøring af dampbade og saunaer.<br>
                Vi er kvalitetsbevidste og yder en MAX service til vores kunder.<br>
                <br>
            </p>    
            <p style="line-height:1.5">    
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
                <br>
            </p>
        </div>
        <img class="section-grey-image" th:src="@{/images/fitness/fitness-equipment.jpg}">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    <div class="bagground-image" th:src="@{/images/fitness/training-1.jpg}">
        <div class="bagground-image-textbox">
            <h2>GLADE MEDLEMMER </h2>
            <p>
                Vi har erfaring med at gøre <strong>hverdagen nem</strong> for vores kunder <br>
                og har <strong>fokus på alle detaljer</strong>.<br>
                Vi kan helt sikkert også finde den <strong>bedste løsning</strong> for jeres center.<br>
                <br>
                Vi er meget opmærksomme på renligheden i jeres bade. <br>
                Badene er oftest det som medlemmerne finder beskidt,<br>
                og derfor har vi udarbejdet særlige planer<br>
                for fjernelse af kalk, hår og sæberester. Vi har også <br>
                fokus på armaturet samt ventilations systemet i jeres centre.<br>
            </p>
            <p style="line-height:2">
                Du får som kunde: <br>
                <i class="fas fa-check"></i> En skræddersyet rengøringsplan i samarbejde med jer<br>
                <i class="fas fa-check"></i> Kvalitets sikring af en kontinuerlig kvalitet<br>
                <i class="fas fa-check"></i> Ugentlige rapporter<br>
                <i class="fas fa-check"></i> Hurtigere handlingsplaner hvis der kommer justeringer<br>
                <i class="fas fa-check"></i> Døgnservice<br>  
                <i class="fas fa-check"></i> Rene riste<br>  
                <i class="fas fa-check"></i> Rengjorte maskiner<br>  
                <i class="fas fa-check"></i> Pæne spejle<br>    
            </p>
            <p style="line-height:2">
                <br>
                Vil du høre mere om dine muligheder? <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace200"></div>
    <div class="extraSpace150"></div>
    <div class="extraSpace30"></div>
 
    <img class="box-imageLeft" th:src="@{/images/fitness/yoga.jpg}">
    <div class="box-textLeft5">
        <h1 class="section-text-green" style="font-size: 45px">Fordele ved at blive partner <br></h1>
        <h3> Stabile medarbejdere skaber god balance</h3>
        <h3> Vi ved hvor bakterierne oftest bliver glemt</h3>
        <h3><i class="fas fa-check"></i> Håndtag på døre</h3>
        <h3><i class="fas fa-check"></i> Tæpper og stof møbler</h3>
        <h3><i class="fas fa-check"></i> Greb på skuffer</h3>
        <h3><i class="fas fa-check"></i> Kaffemaskiner og opvaskemaskiner</h3>
        <button class="but-hover"><a th:href="@{/forretning}" style="text-decoration:none; color: white"><i class="far fa-handshake"></i> Bliv partner</a></button>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace100"></div>
    <div th:replace="@{/frontend/footer.html}"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>