<hr><br><br>

<div class="footer-box" xmlns:th="http://www.w3.org/1999/xhtml">
    <img class="footer-image" th:src="@{/images/divers/group.png}">
    <h2>SPIDSKOMPETENCER</h2>
    
    <div><a th:href="@{fitness}" style="text-decoration:none; cursor: pointer"><p>FITNESS </p></a></div>
    <div><a th:href="@{instituion}" style="text-decoration:none"><p>INSTITUTIONSRENGØRING </p></a></div>
    <div><a th:href="@{klinik}" style="text-decoration:none"><p>KLINIK </p></a></div>
    <div><a th:href="@{kontor}" style="text-decoration:none"><p>KONTOR  </p></a></div>
    <div><a th:href="@{skræddersy}" style="text-decoration:none"><p>SKÆDDERSY </p></a></div>
    <div><a th:href="@{privat}" style="text-decoration:none"><p>PRIVAT </p></a></div>
    <div><a th:href="@{housekeeper}" style="text-decoration:none"><p>HOUSEKEEPER </p></a></div>
    <div><a th:href="@{familiepakke}" style="text-decoration:none"><p>FAMILIEPAKKE </p></a></div>
</div>

<div class="footer-box" xmlns:th="http://www.w3.org/1999/xhtml">
    <img class="footer-image" th:src="@{/images/divers/smartphone.png}">
    <h2>KONTAKT OS</h2>
    <h3>+45 27 21 00 58</h3>
</div>

<div class="footer-box" xmlns:th="http://www.w3.org/1999/xhtml">
    <img class="footer-image" th:src="@{/images/divers/letter.png}">
    <h2>E-MAIL</h2>
    <h5>thilde.rex@rexkyoo.com</h5>
</div>

