<!DOCTYPE html>
<html lang="da-DK" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link th:href="@{/css/erhvervStyle.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <hr><br><br>
    <div class="footer-box">
        <img class="footer-image" src="../../static/Images/divers/group.png">
        <h2>SPIDSKOMPETENCER</h2>
        <div onclick="window.location.href='fitness.html'" style="cursor: pointer"><p>FITNESS </p></div>
        <div onclick="window.location.href='institution.html'" style="cursor: pointer"><p>INSTITUTIONSRENGØRING </p></div>
        <div onclick="window.location.href='klinik.html'" style="cursor: pointer"><p>KLINIK </p></div>
        <div onclick="window.location.href='kontor.html'" style="cursor: pointer"><p>KONTOR </p></div>
        <div onclick="window.location.href='skræddersy.html'" style="cursor: pointer"><p>SKÆDDERSY </p></div>
        <div onclick="window.location.href='privat.html'" style="cursor: pointer"><p1>PRIVAT </p1></div>
        <div onclick="window.location.href='housekeeper.html'" style="cursor: pointer"><p1>HOUSEKEEPER </p1></div>
        <div onclick="window.location.href='familiepakke.html'" style="cursor: pointer"><p>FAMILIEPAKKE </p></div>
    </div>

    <div class="footer-box">
        <img class="footer-image" src="../../static/Images/divers/smartphone.png">
        <h2>KONTAKT OS</h2>
        <h3>+45 27 21 00 58</h3>
    </div>
    
    <div class="footer-box">
        <img class="footer-image" src="../../static/Images/divers/letter.png">
        <h2>E-MAIL</h2>
        <h5>thilde.rex@rexkyoo.com</h5>
    </div>
</body>
