<!DOCTYPE html>
<html lang="da-DK" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/erhvervStyle.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/forretningStyle.css}" />
</head>

<body>
    <div th:replace="@{/frontend/menubar.html}"></div>

    <div class="extraSpace30"></div>
    <div class="business-textside">
        <h1>Vil I have en grønnere profil?<br>
            Få et gratis og uforpligtende tilbud
        </h1>

        <h3>Du vil som partner få:<br></h3>
        <h5><i class="fas fa-check"></i> En grønnere profil</h5>
        <h5><i class="fas fa-check"></i> En transparent rengørings partner</h5>
        <h5><i class="fas fa-check"></i> Sundt indeklima</h5>
        <h5><i class="fas fa-check"></i> En god kundeservice og dialog 24/7</h5>
        <h5><i class="fas fa-check"></i> Løbende opfølgningsrapporter og rengøringstjek</h5>
    </div>
    <div class="business-textbox">
        <div class="center-text">
            <h2>BLIV PARTNER</h2>
            <h5>Få et uforpligtende tilbud</h5>

            <form onsubmit="return sendEmail()" method="post">
                <label>Forretnings navn</label>
                <input type="text" id="form-name" name="firstName" placeholder="Forretnings navn" required>
                <label>Telefonnummer</label>
                <input type="number" id="form-number" name="lastName" placeholder="Telefonnummer" maxlength="14" required>
                <label>E-mail</label>
                <input type="email" id="form-email" name="lastName" placeholder="E-mail" required>

                <button class="but-hover" type="submit">Bliv kontaktet</button>
            </form>  
        </div>  
    </div>
    <!--Image -->
    <div class="business-image "></div>
    
    <div class="extraSpace50"></div>
    <div id="clear-float"></div>
    <div class="section-how">
        <div class="extraSpace30"></div>
        <div class="center-text">
            <h1 style="font-size:40px">EN HVERDAG UDEN BEKYMRINGER</h1>
        </div>

        <div class="box-business">
            <img class="box-business-image" th:src="@{/images/divers/support-1.png}">
            
            <div class="box-business-text">
                <h2>OPDAG EN FANTASTISK<br> KVALITET <br></h2>

                <p>Få din perfekte samarbejdspartner.</p>
            </div>
        </div>
        <div class="box-business">
            <img class="box-business-image" th:src="@{/images/divers/contact-blue1.jpg}">
            
            <div class="box-business-text">
                <h2>KONTAKT OS<br><br></h2>

                <p>Få et udforpligtet besøg, udarbejdet rengøringsplan,<br>
                samt tilbud.</p>
            </div>
        </div>
        <div class="box-business">
            <img class="box-business-image" th:src="@{/images/divers/icon-blue1.png}">
            
            <div class="box-business-text">
                <h2>RENGØRING <br> UDEN BEKYMRINGER<br></h2>

                <p>Rent arbejdsmiljø og frigivelse af din tid.</p>
            </div>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace100"></div>

    <div class="box-profile">
        <img class="box-profile-image" th:src="@{/images/anbefalinger/anne.jpg}">
        <div class="box-profile-text">
            <h1>Anne Linnet</h1>
            <h4 style="line-height:1.5">
            Jeg kan på det varmeste anbefale firmaet<br>
            RexKyoo, der ledes af Thilde Rex.<br>
            Jeg har gjort brug af de ansatte i firmaet både<br>
            til rengøring og til børnepasning.<br>
            Det er altid pålidelige og ordentlige mennesker <br>
            Thilde Rex sender ud<br>
            og de er gode til deres arbejde.
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
        <img class="box-profile-image"  th:src="@{/images/anbefalinger/gunvor2.jpg}">
        <div class="box-profile-text">
            <h1>Gunvor</h1>
            <h4 style="line-height:1.5">
            ”Fantastisk initiativ!!<br>
            Thilde har hjulpet os med at finde<br>
            den skønneste private børnepasser på ingen tid!<br>
            Det har været en kæmpe hjælp,<br>
            og jeg kan virkelig varmt anbefale RexKyoo.<br>
            Thilde og hendes team er super <br>
            kompetente, tjekkede og ikke mindst utrolig søde! <br>
            5 stjerner er faktisk for lidt!!”<br>
            <br>
            DR symphoni orkester og mor til Anker
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
       <img class="box-profile-image" th:src="@{/images/anbefalinger/Wojciech.jpg}">
        <div class="box-profile-text">
            <h2>Wojciech </h2>
            <h4>Ansat i RexKyoo</h4>
            <h4 style="line-height:1.5">
            MAX rengøring har et arbejdsmiljø,<br>
            som gør at vi har lyst til at yde en <br>
            ekstra indsats og at være en god kollega.<br>
            Jeg får personlig udvikling, <br>
            bliver hørt og anerkendt.<br>
            <br>
            Vi har et stærkt sammenhold,<br>
            som er helt specielt i denne branche.<br>
            
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    
    <div id="clear-float"></div>
    <div class="extraSpace50"></div>
    <div class="center-text">
        <h1 style="font-size:40px">VI STØTTER <br></h1>
        <img th:src="@{/images/reference/ref3.PNG}" style="width:40%">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace50"> </div>
    <div th:replace="@{/frontend/footer.html}"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/JavaScript/divers.js}"></script>
</body>

</html>