<!DOCTYPE html>
<html lang="da-DK">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link href="CSS/erhvervStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="includedMenubar"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey">
        <div class="section-grey-text">
            <h2>PRIVAT PROFESSIONEL HOUSEKEEPER</h2>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i> <br><br>
                Har du brug for et par ekstra hænder i hverdagen?<br>
                Hvordan lyder det med en housekeeper som er <strong>stabil</strong>,<br>
                og udfører en <strong>grundig</strong> rengøring i dit hjem?<br>
                Kunne det være rart, at der bliver rengjort under sofaen og under kaffemaskinen?<br>
                <br>
                Kan du nikke ja til ovenstående, <br>
                så hjælper vi med at rekruttere jeres personlige housekeeper<br>
            </p>    
            <p style="line-height:1.5">    
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
        <img class="section-grey-image2" src="../../static/images/divers/medarbejder.jpg">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    <div class="bagground-image" style="background-image: url(../../static/images/office/kitchen-s.jpg);">
        <div class="bagground-image-textbox">
            <h2>PRIVAT PROFESSIONEL HOUSEKEEPER</h2>
            <p>
                Vores <strong>kompetencer</strong> strækker sig <strong>bredt</strong> indenfor <br>
                <strong>professionelle housekeeper</strong> / rengøring.<br>
                Vi har erfaring med at gøre hverdagen nem for vores kunder, som har en travl hverdag.<br>
                <br>
            </p>
            <p style="line-height:2">
                Har du et ønske om at få hjælp til: <br>
                <i class="fas fa-check"></i> Flasker fjernes og leveres til pant eller sortering <br>
                <i class="fas fa-check"></i> Vande blomster <br>
                <i class="fas fa-check"></i> Sikre at der altid er nye friske blomster<br>
                <i class="fas fa-check"></i> Sætte madvarer i køleskabet<br>
                <i class="fas fa-check"></i> Tilberede morgenmad eller aftensmad<br>
                <i class="fas fa-check"></i> Sørge for at koordinere håndværkere i jeres hus / lejlighed<br>
                <i class="fas fa-check"></i> Sørge for at handle ind / <br>
                &nbsp;&nbsp;&nbsp;&nbsp; gøre opmærksom på når der mangler dagligvarer mm.<br>
                <i class="fas fa-check"></i> Rengøring<br>
                <i class="fas fa-check"></i> Hente / afleverer tøj til rens<br>
                <i class="fas fa-check"></i> Strygning af tøj<br> 
                <i class="fas fa-check"></i> Vask af tøj mm.<br>     
            </p>
            <p>
                <strong>Priserne</strong> kan varierer afhængig af opgaven, men <br>
                starter på 375 DKK ex moms per time.<br>   
            </p>
            <p style="line-height:2">
                Vil du høre mere om dine muligheder? <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
    </div>

    <div class="extraSpace200"></div>
    <div class="extraSpace200"></div> 
    <div id="clear-float"></div>

    <div class="box-profile">
        <img class="box-profile-image" src="../../static/images/anbefalinger/anne.jpg">
        <div class="box-profile-text">
            <h1>Anne Linnet</h1>
            <h4 style="line-height:1.5">
            Jeg kan på det varmeste anbefale firmaet<br>
            RexKyoo, der ledes af Thilde Rex.<br>
            Jeg har gjort brug af de ansatte i firmaet både<br>
            til rengøring og til børnepasning.<br>
            Det er altid pålidelige og ordentlige mennesker <br>
            Thilde Rex sender ud<br>
            og de er gode til deres arbejde.
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
        <img class="box-profile-image"  src="images/anbefalinger/gunvor2.jpg">
        <div class="box-profile-text">
            <h1>Gunvor</h1>
            <h4 style="line-height:1.5">
            ”Fantastisk initiativ!!<br>
            Thilde har hjulpet os med at finde<br>
            den skønneste private børnepasser på ingen tid!<br>
            Det har været en kæmpe hjælp,<br>
            og jeg kan virkelig varmt anbefale RexKyoo.<br>
            Thilde og hendes team er super <br>
            kompetente, tjekkede og ikke mindst utrolig søde! <br>
            5 stjerner er faktisk for lidt!!”<br>
            <br>
            DR symphoni orkester og mor til Anker
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
       <img class="box-profile-image" src="../../static/images/anbefalinger/Wojciech.jpg">
        <div class="box-profile-text">
            <h2>Wojciech </h2>
            <h4>Ansat i RexKyoo</h4>
            <h4 style="line-height:1.5">
            RexKyoo har et arbejdsmiljø,<br>
            som gør at vi har lyst til at yde en <br>
            ekstra indsats og at være en god kollega.<br>
            Jeg får personlig udvikling, <br>
            bliver hørt og anerkendt.<br>
            <br>
            Vi har et stærkt sammenhold,<br>
            som er helt specielt i denne branche.<br>
            
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace50"></div> 
    <div id="includedFooter"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JS/divers.js"></script>
</body>

</html>