<!DOCTYPE html>
<html lang="da-DK" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/erhvervStyle.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/slide.css}" />
</head>

<body>
<div th:replace="@{/frontend/menubar.html}"></div>
<div class="extraSpace30"></div>

<!--Image -->
<div class="home1-image"></div>
<div class="home1Image-text">
    <h1 style="font-size: 55px">
        Vi kæmper for et bedre miljø!<br>
        Både indvendig og udvendig.
    </h1>
    <button class="but-hover" onclick="window.location.href='forretning.html'"><i class="far fa-handshake"></i> Bliv partner</button>

    <h1 style="font-size:30px">For hver time du køber, <br> donerer vi 5 kr. til et miljøvenligt ngo-projekt</h1>
</div>

<div class="extraSpace30"></div>
<div class="center-text">
    <h1 style="font-size:40px">VORES SPIDSKOMPETENCER</h1>
</div>

<div class="box1" onclick="window.location.href='kontor.html'">
    <img class="box1-image" th:src="@{/images/office/desktop.jpg}">
    <h1>KONTOR RENGØRING </h1>
</div>
<div class="box1" onclick="window.location.href='institution.html'">
    <img class="box1-image" src="../../static/images/kids/teddybear.jpg">
    <h1>INSTITUTIONSRENGØRING </h1>
</div>
<div id="clear-float"></div>

<div class="extraSpace50"></div>
<div class="box1" onclick="window.location.href='privat.html'">
    <img class="box1-image" src="../../static/images/office/home.jpg">
    <h1>PRIVAT RENGØRING </h1>
</div>
<div class="box1" onclick="window.location.href='klinik.html'">
    <img class="box1-image" src="../../static/images/office/clinic.jpg">
    <h1>KLINIK RENGØRING </h1>
</div>
<div id="clear-float"></div>

<div class="extraSpace50"></div>
<div class="box1" onclick="window.location.href='fitness.html'">
    <img class="box1-image" src="../../static/images/fitness/gym.jpg">
    <h1 style="font-size: 31px">RENGØRING I FITNESSCENTRE</h1>
</div>
<div class="box1" onclick="window.location.href='skræddersy.html'">
    <img class="box1-image" src="../../static/images/divers/coffee-icons.png">
    <h1 style="font-size: 31px">SKRÆDDERSY DIN RENGØRING</h1>
</div>
<div id="clear-float"></div>

<div class="extraSpace50"></div>
<div class="box1" onclick="window.location.href='housekeeper.html'">
    <img class="box1-image" src="../../static/images/divers/young-housekeeper.jpg">
    <h1 style="font-size: 31px">PROFESSIONEL HOUSEKEEPER</h1>
    <h1 style="font-size: 20px">(PRIVAT)</h1>
</div>
<div class="box1" onclick="window.location.href='familiepakke.html'">
    <img class="box1-image" src="../../static/images/divers/love-family.jpg">
    <h1 style="font-size: 31px">FAMILIEPAKKE</h1>
    <h1 style="font-size: 20px">(RENGØRING &amp; BØRNEPASNING)</h1>
</div>

<div id="clear-float"></div>
<div class="extraSpace50"> </div>

<div>
    <div class="section-left-for-vertical-line">
        <h1 style="font-size: 28px">VI SER ALLE DETALJER</h1>
        <p>
            <br>
            Vores medarbejdere er trænet i at have <strong>sans</strong><br>
            <strong>for detaljerne</strong>. Vi har opbygget en kultur<br>
            baseret på resultater, som leveres hver dag.<br><br>

            Vi har en stærk <strong>team-ansvarlighed</strong> og <strong>loyalitet</strong><br>
            over for vores kunder.<br>
            <br>
            Vi forlader altid arbejdspladsen pæn og ren. <br>
            Vi er meget detaljeorienteret, og vi sørger <br>
            for at skabe en god balance mellem opfølgning <br>
            og kontinuerligt niveau af rengøringen.
            <br>
        </p>
        <p style="line-height:1.5">
            Vil du have et uforpligtende tilbud?<br>
            Kontakt os på <i class="fas fa-phone-volume"></i> <strong>telefon:</strong> +45 27 21 00 58<br>
            Eller skriv til os på <i class="far fa-envelope"></i> <strong>e-mail:</strong> thilde.rex@rexkyoo.com<br>
            <br>
        </p>
    </div>

    <div class="section-vertical-line"></div>

    <div class="section-right-for-vertical-line">
        <h1 style="font-size: 28px">UDFØRLIGE RENGØRINGSPLANER</h1>

        <h4>
            <pre class="tab"><font color="brown"><i class="fas fa-door-closed"></i></font> HÅNDTAG PÅ DØRE <font color="green"><i class="fas fa-check"></i></font>   <font color="brown"><i class="fas fa-couch"></i></font> TÆPPER og STOFMØLBER <font color="green"><i class="fas fa-check"></i></font></pre>
            <pre class="tab"><font color="brown"><i class="fas fa-shower"></i></font> DAMP BAD <font color="green"><i class="fas fa-check"></i></font>           <font color="brown"><i class="fas fa-lightbulb"></i></font> AFTØRRING AF LAMPER <font color="green"><i class="fas fa-check"></i></font></pre>
            <pre class="tab"><font color="brown"><i class="fas fa-hot-tub"></i></font> SAUNA <font color="green"><i class="fas fa-check"></i></font>              <font color="brown"><i class="fas fa-keyboard"></i></font> AFTØRRING AF TASTATUR <font color="green"><i class="fas fa-check"></i></font></pre>
            <br>
        </h4>

        <img class="section-image-under-right" src="../../static/images/divers/checklist.png">
    </div>
</div>

<div id="clear-float"></div>
<img class="box-imageLeft2" src="../../static/images/divers/discount.jpg">
<div class="box-textLeft2">
    <h1 class="section-text-green" style="font-size: 45px">Fordele ved at blive partner <br></h1>
    <h3> Stabile medarbejdere skaber god balance</h3>
    <h3> Vi ved hvor bakterierne oftest bliver glemt</h3>
    <h4><i class="fas fa-check"></i> En grønnere profil</h4>
    <h4><i class="fas fa-check"></i> En transparent rengørings partner</h4>
    <h4><i class="fas fa-check"></i> Sundt indeklima</h4>
    <h4><i class="fas fa-check"></i> En god kundeservice og dialog 24/7</h4>
    <h4><i class="fas fa-check"></i> Løbende opfølgningsrapporter og rengøringstjek</h4>
    <button class="but-hover" onclick="window.location.href='forretning.html'"><i class="far fa-handshake"></i> Bliv partner</button>
</div>

<div id="clear-float"></div>
<div class="extraSpace100"></div>
<div class="center-text">
    <h1 style="font-size:40px">ET UDPLUK AF VORES ERHVERVSKUNDER</h1>
</div>

<div class="slideshow-container" id="slider1">
    <div class="mySlides fade">
        <img src="../../static/images/reference/slagelsekommune.jpg" style="width:70%">
        <div class="sliderText"></div>
    </div>
    <div class="mySlides fade">
        <img src="../../static/images/reference/hybrid.jpg" style="width:100%">
        <div class="sliderText"></div>
    </div>
</div>

<div class="slideshow-container" id="slider2">
    <div class="mySlides2 fade">
        <img src="../../static/images/reference/sats.jpg" style="width:80%">
        <div class="sliderText">Strædet</div>
    </div>
    <div class="mySlides2 fade">
        <img src="images/reference/spia.jpg" style="width:100%">
        <div class="sliderText"></div>
    </div>
</div>

<div class="slideshow-container" id="slider3">
    <div class="mySlides3 fade">
        <img src="../../static/images/reference/sats.jpg" style="width:80%">
        <div class="sliderText">Den hvide by</div>
    </div>
    <div class="mySlides3 fade">
        <img src="../../static/images/reference/LEBA_innovation_logo%20stor.gif" style="width:100%">
        <div class="sliderText"></div>
    </div>
</div>

<div class="slideshow-container" id="slider4">
    <div class="mySlides4 fade">
        <img src="../../static/images/reference/sats.jpg" style="width:80%">
        <div class="sliderText">Vallensbæk</div>
    </div>
    <div class="mySlides4 fade">
        <img  style="width:70%">
        <div class="sliderText"></div>
    </div>
</div>

<div id="clear-float"></div>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>

<div id="clear-float"></div>
<div class="extraSpace50"></div>

<div class="box-profile">
    <img class="box-profile-image" src="../../static/images/anbefalinger/anne.jpg">
    <div class="box-profile-text">
        <h1>Anne Linnet</h1>
        <h4 style="line-height:1.5">
            Jeg kan på det varmeste anbefale firmaet<br>
            RexKyoo, der ledes af Thilde Rex.<br>
            Jeg har gjort brug af de ansatte i firmaet både<br>
            til rengøring og til børnepasning.<br>
            Det er altid pålidelige og ordentlige mennesker <br>
            Thilde Rex sender ud<br>
            og de er gode til deres arbejde.
        </h4>
        <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
    </div>
</div>
<div class="box-profile">
    <img class="box-profile-image" src="images/anbefalinger/gunvor2.jpg">
    <div class="box-profile-text">
        <h1>Gunvor</h1>
        <h4 style="line-height:1.5">
            ”Fantastisk initiativ!!<br>
            Thilde har hjulpet os med at finde<br>
            den skønneste private børnepasser på ingen tid!<br>
            Det har været en kæmpe hjælp,<br>
            og jeg kan virkelig varmt anbefale RexKyoo.<br>
            Thilde og hendes team er super <br>
            kompetente, tjekkede og ikke mindst utrolig søde! <br>
            5 stjerner er faktisk for lidt!!”<br>
            <br>
            DR symphoni orkester og mor til Anker
        </h4>
        <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
    </div>
</div>
<div class="box-profile">
    <img class="box-profile-image" src="../../static/images/anbefalinger/Wojciech.jpg">
    <div class="box-profile-text">
        <h2>Wojciech </h2>
        <h4>Ansat i RexKyoo rengøring</h4>
        <h4 style="line-height:1.5">
            RexKyoo har et arbejdsmiljø,<br>
            som gør at vi har lyst til at yde en <br>
            ekstra indsats og at være en god kollega.<br>
            Jeg får personlig udvikling, <br>
            bliver hørt og anerkendt.<br>
            <br>
            Vi har et stærkt sammenhold,<br>
            som er helt specielt i denne branche.<br>

        </h4>
        <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
    </div>
</div>

<div id="clear-float"></div>
<div class="extraSpace50"></div>
<div class="center-text">
    <h1 style="font-size:40px">VI STØTTER <br></h1>
    <img src="../../static/images/reference/ref3.PNG" style="width:40%">
</div>

<div id="clear-float"></div>
<div class="extraSpace50"></div>
<div th:replace="@{/frontend/footer.html}"></div>

<!--fronts-->
<script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/JavaScript/divers.js}"></script>
<script th:src="@{/JavaScript/slideshowScript.js}"></script>

</body>

</html>