<!DOCTYPE html>

<html lang="da-DK">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link href="CSS/erhvervStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="includedMenubar"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey">
        <div class="section-grey-text">
            <h2>FOKUS PÅ KVALITET og DETALJER</h2>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i> <br><br>
                
                RexKyoo sikrer ansvarsfulde medarbejdere,<br>
                som får en grundig oplæring specifikt til jeres institution.<br><br>
                Vi har fokus på alle detaljer til dørhåndtage, <br>
                bakterier fælder og et sundt indeklima.<br>
                Vi er miljø bevidste og vi yder altid en god service til vores kunder. <br>
            </p>    
           <p style="line-height:1.5">    
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
                <br>
            </p>
        </div>
        <img class="section-grey-image" src="../../static/images/kids/kid.jpg">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    <div class="bagground-image" style="background-image: url(../../static/images/kids/kindergarten-baggrund1.jpg);">
        <div class="bagground-image-textbox">
            <h2>FÅ DIN EGEN RENGØRINGSLØSNING</h2>
            <p>
                Vores <strong>kompetencer</strong> strækker sig bredt indenfor rengøring med høj kvalitet.<br>
                Vi kan helt sikkert også finde den <strong>bedste løsning</strong> til jeres institution.<br>
                Der bliver altid taget <strong>hensyn</strong> til jeres ønske om en høj standard,<br>
                stabilitet og en hverdag uden bekymringer vedr. rengøring. 
                <br>
            </p>
            <p style="line-height:2">
                Vi tilbyder blandt andet disse ydelser: <br>
                <i class="fas fa-check"></i> Støvsugning <br>
                <i class="fas fa-check"></i> Gulvvask<br>
                <i class="fas fa-check"></i> Rengøring af toilet og bad<br>
                <i class="fas fa-check"></i> Aftørring af støv på alle overflader<br>
                <i class="fas fa-check"></i> Rengøring af køkken<br> 
                <i class="fas fa-check"></i> Tømme skrald<br> 
                <i class="fas fa-check"></i> Rengøring af gelænder og tremmer mm.<br>  
            </p>
            <p>
                <strong>Priserne</strong> kan varierer afhængig af opgaven, men <br>
                starter på 250 DKK ex moms per time.<br>
                I skal selv stille rengøringsmaterialer til rådighed.<br>    
            </p>
            <p style="line-height:2">
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace200"></div>
    <div class="extraSpace150"></div>

    <img class="box-imageLeft2" src="../../static/images/divers/discount.jpg">
    <div class="box-textLeft2">
        <h1 class="section-text-green" style="font-size: 45px">Fordele ved at blive partner <br></h1>
        <h3> Stabile medarbejdere skaber god balancel</h3>
        <h3> Vi ved hvor bakterierne oftest bliver glemt</h3>
        <h3><i class="fas fa-check"></i> Håndtag på døre</h3>
        <h3><i class="fas fa-check"></i> Tæpper og stof møbler</h3>
        <h3><i class="fas fa-check"></i> Greb på skuffer</h3>
        <h3><i class="fas fa-check"></i> Kaffemaskiner og opvaskemaskiner</h3>
        <button class="but-hover" onclick="window.location.href='forretning.html'"><i class="far fa-handshake"></i> Bliv partner</button>
    </div>
   
    <div id="clear-float"></div>
    <div class="extraSpace100"></div>
    <div id="includedFooter"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JS/divers.js"></script>
</body>

</html>