<!DOCTYPE html>
<html lang="da-DK">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link href="CSS/erhvervStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="includedMenubar"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey">
        <div class="section-grey-text">
            <h3>RexKyoo BYDER ALTID <br>KOMPETENTE KOLLEGAER VELKOMMEN</h3>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i> <br><br>

                Dine faglige kompetencer vægtes lige så højt som dine sociale,<br>
                da fællesskab og ansvarlighed overfor dine kollegaer betyder meget for os.<br>
                Vi løfter i flok, og vi hjælper hinanden på tværs af organisationen.<br>
                <br>
            </p>    
           <p style="line-height:1.5">    
                Vil du blive en del af vores fællesskab?<br>
                Send din ansøgning samt CV og læs nedenstående om vores minimumskrav. <br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> job@rexkyoo.com<br>
            </p>
        </div>

        <img class="section-grey-image" src="../../static/images/divers/team.jpg">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
 
    <div class="center-text">
            <h1 class="section-text-green" style="font-size: 45px">GRUNDIG REKRUTTERING<br></h1>
            <h3> Du skal kunne fremvise en ren straffeattest.</h3>
            <h3> Være indstillet på at tage medansvar for egen læring.</h3>
            <h3> Du skal kunne fremvise referencer fra eventuelt tidligere arbejdsgivere.</h3>
            <br>
            <h3> Kan du nikke ja til ovenstående, hører vi meget gerne fra dig.</h3>
            <h3> For at komme i betragtning til jobbet skal du gøre opmærksom på følgende:</h3>
    </div>
    
    
    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    
    <img class="box-imageLeft" src="../../static/images/divers/teamwork-color.png">
    <div class="box-textLeft4">
        <h4>• Vedhæfte billede</h4>
        <h4>• Vedhæfte CV og ansøgning</h4>
        <h4>• Vedhæfte referencer</h4>
        <h4>• Skrive hvilket område du bor i</h4>
        <h4>• Skrive om du har egen bil <br> &nbsp;&nbsp;&nbsp;eller er afhængig af det offentlige</h4>
        <h4>• Skrive hvor mange timer du søger</h4>
        <h4>• Skrive i emnefeltet Den branche du søger<br> &nbsp;&nbsp;&nbsp;til samt hvor du bor</h4>
    </div>
   
    <div id="clear-float"></div>
    <div class="extraSpace100"></div>
    <div id="includedFooter"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JS/divers.js"></script>
</body>
</html>