<!DOCTYPE html>
<html lang="da-DK">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link href="CSS/erhvervStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="includedMenubar"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey" style="height: 450px">
        <div class="section-grey-text">
            <h2>KVALITET I FOKUS</h2>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i><br><br>

                Vi har løbende <strong>kontrol</strong> og afgiver <strong>statusrapporter</strong>,<br>
                så du som kunde kan følge med i rengøringen.<br>
                På den måde sikre vi et <strong>solidt højt niveau</strong>.<br>
                <br>
            </p>    
            <p style="line-height:1.5">    
                Kontakt os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
        <img class="section-grey-image" src="../../static/Images/divers/magnifying-glass.png">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>

    
    <div class="section-left-for-vertical-line2">
        <h1 style="font-size: 26px">GLADE MEDARBEJDER ARBEJDER BEDRE</h1>
        <p>
            <br>
            Vores <strong>kvalitet</strong> er baseret på <strong>højt motiveret</strong> personale<br>
            og en intern kultur, som bærer værdier på fælles skab<br>
            og omsorg for hinanden.<br><br>
            
            Hver medarbejder trænes af den rengørings<br>
            ansvarlige og indgår i en buddy-ordning.<br><br>

            På denne måde sikre vi at alle medarbejdere<br>
            får den fornødne <strong>viden</strong> og de <strong>rigtige kompetencer</strong>,<br>
            som bidrager til at holde den ønskede standard<br>
            inden for rengøring.<br>
            <br>
            Alle vores medarbejdere har individuelle mål<br>
            som afrapporteres, så de løbende er i <strong>udvikling</strong>.<br>
        </p>
    </div>
    
    <div class="section-vertical-line2"></div>

    <div class="section-right-for-vertical-line2">
        <h1 style="font-size: 26px">UDFØRLIGE RENGØRINGSPLANER</h1>
    
        <h5>
            <pre class="tab">Egenkontrol <font color="green"><i class="fas fa-check"></i></font>    Inspektions kontrol <font color="green"><i class="fas fa-check"></i></font></pre>
            <pre class="tab">Afrapportering <font color="green"><i class="fas fa-check"></i></font> Intern medarbejder resultats opnåelse <font color="green"><i class="fas fa-check"></i></font></pre>
            <br>
        </h5>    

        <img class="section-image-under-right2" src="../../static/Images/divers/checklist.png">
    </div>


    <div id="clear-float"></div>
    <img class="box-imageLeft2" src="../../static/Images/divers/motivation.jpg">
    <div class="box-textLeft2">
        <h1 class="section-text-green" style="font-size: 40px">Kvalitet betyder for os at...<br></h1>
        
        <h4><i class="fas fa-check"></i> Vi gør rent med øjnene og ser alle detaljer</h4>
        <h4><i class="fas fa-check"></i> Vi når ud i alle kroge og hjørner</h4>
        <h4><i class="fas fa-check"></i> Vi arbejder struktureret<br>
                    &nbsp;&nbsp;&nbsp; så alle er indforstået med forventninger til<br>
                    &nbsp;&nbsp;&nbsp; hvordan de tilgår rengøringsopgaven</h4>
        <h4><i class="fas fa-check"></i> Vi har stabile og engageret medarbejdere</h4>
        <h4><i class="fas fa-check"></i> Vi forlader ikke arbejdspladsen før opgaven er løst</h4>
        <h4><i class="fas fa-check"></i> Vi har det nødvendige udstyr og viden til at løse opgaven</h4>
        <button class="but-hover" onclick="window.location.href='forretning.html'"><i class="far fa-handshake"></i> Bliv partner</button>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace150"></div>
    <div id="includedFooter"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JS/divers.js"></script>
</body>
</html>