<!DOCTYPE html>
<html lang="da-DK" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/erhvervStyle.css}" />
</head>

<body>
    <div th:replace="@{/frontend/menubar.html}"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey" style="height: 450px">
        <div class="section-grey-text">
            <h3>ALLE NATIONALITETER og <br>DET ENKELTE MENNESKE ER I FOKUS</h3>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i> <br><br>

                Vi lægger vægt på det <strong>enkelte individ</strong>
                og deres <strong>kompetencer, stabilitet samt arbejdsmoral.</strong>
                Vi lægger vægt på at nye kollegaer passer ind i vores kultur og det team,
                som de bliver en del af.
                <br><br>
                For RexKyoo er det vigtigt at vores medarbejdere bibeholder den positive interne kultur,
                samt at medarbejder trivslen er stabil.
                Alle medarbejdere gennemgår baggrundstjek, 
                samt underskriver tavshedserklæringer.
                <br>
            </p>    
            <p style="line-height:1.5">    
                Vil du have et uforpligtende tilbud?<br>
                Kontakt os på <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                Eller skriv til os på <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
                <br>
            </p>
        </div>
        <img class="section-grey-image" th:src="@{/images/divers/team.jpg}">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>

    <img class="box-imageLeft" style="top: 20px" th:src="@{/images/divers/social-circle.jpg}">
    <div class="box-textLeft3">
        
        <h2 class="section-text-green" style="font-size: 30px">VI TAGER SOCIALT ANSVAR<br></h2>
        <h5>
            For hver time donerer vi 5 kr. til et velgørenhedsprojekt enten i
            samarbejde med jer eller et projekt som bestemmes af os.<br><br>
            For RexKyoo betyder det meget at kunne hjælpe andre
            og være medvirkende til at gøre en forskel.<br><br>
            Det kan være et motionsløb
            som bidrager til sundheden eller en NGO-forening.<br><br>
            Vi er lydhøre og vil meget gerne høre om den sag som I brænder for.
        </h5>
        <div class="center-but">
            <button class="but-hover" onclick="window.location.href='forretning.html'"><i class="far fa-handshake"></i> Bliv partner</button>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace100"></div>

    <div class="test33"> 
        <img class="box-imageRight" th:src="@{/images/divers/clean.jpg}">
        <div class="box-textRight">
            <br>
            <h2 class="section-text-green" style="font-size: 30px">MILJØ ORIENTERET RENGØRING<br></h2>
            <h3>• Vi er opmærksomme på mindst muligt forbrug af<br>
                &nbsp;&nbsp;&nbsp;rengøringsmidler </h3>
            <h3>• Ingen rengøringsmidler som er klassificeret som miljøfarlige</h3>
            <h3>• Den højst mulige andel af svanemærket rengøringsmidler</h3>
            <h3>• Den mindst mulige mængde affald som f.eks. plastposer</h3>
        </div>
    </div>
    
    <div id="clear-float"></div>
    <div class="extraSpace30"></div>

    <div th:replace="@{/frontend/footer.html}"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>
</body>
</html>