<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/erhvervStyle.css}" />
</head>

<body>
    <div th:replace="@{/frontend/menubar.html}"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey">
        <div class="section-grey-text">
            <h2>MAX PRIVAT RENGØRING</h2>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i> <br><br>
                Har du brug for et par ekstra hænder i hverdagen?<br>
                Hvordan lyder det med en rengøringshjælp som er <strong>stabil</strong>,<br>
                og udfører en <strong>grundig</strong> rengøring i dit hjem?<br>
                Kunne det være rart, at der bliver rengjort under sofaen og under kaffemaskinen?<br>
               <br>
                Kan du nikke ja til ovenstående, så kan vi hjælpe med at rengøre dit private hjem.<br>
            </p>    
            <p style="line-height:1.5">    
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
        <img class="section-grey-image2" th:src="@{/images/divers/medarbejder.jpg}">
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    <div class="bagground-image" style="background-image: url(../../static/images/office/home-small.jpg);">
        <div class="bagground-image-textbox">
            <h2>FÅ DIN EGEN RENGØRINGSLØSNING</h2>
            <p>
                Vores <strong>kompetencer</strong> strækker sig bredt indenfor privatrengøring. <br>
                Vi kan helt sikkert også finde den <strong>bedste løsning</strong> for dig og dit hjem.<br>
                Der bliver altid taget <strong>hensyn</strong> til dit privatliv og et ønske om en <strong>høj standard.</strong><br>
                <br>
            </p>
            <p style="line-height:2">
                Vi tilbyder blandt andet disse ydelser: <br>
                <i class="fas fa-check"></i> Støvsugning <br>
                <i class="fas fa-check"></i> Gulvvask<br>
                <i class="fas fa-check"></i> Rengøring af toilet og bad<br>
                <i class="fas fa-check"></i> Aftørring af støv på alle overflader<br>
                <i class="fas fa-check"></i> Rengøring af køkken<br> 
                <i class="fas fa-check"></i> Køleskab<br>
                <i class="fas fa-check"></i> Ovn<br> 
                <i class="fas fa-check"></i> Redning af seng /skift sengetøj<br>
                <i class="fas fa-check"></i> Skrald smides ud<br>
            </p>
             <p>
                <strong>Priserne</strong> kan varierer afhængig af opgaven, men <br>
                starter på 275 DKK ex moms per time.<br>
                I skal selv stille rengøringsmaterialer til rådighed.<br>    
            </p>
            <p style="line-height:2">
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
    </div>

    <div class="extraSpace200"></div>
    <div class="extraSpace200"></div> 
    <div id="clear-float"></div>

    <div class="box-profile">
        <img class="box-profile-image" th:src="@{/images/anbefalinger/anne.jpg}">
        <div class="box-profile-text">
            <h1>Anne Linnet</h1>
            <h4 style="line-height:1.5">
            Jeg kan på det varmeste anbefale firmaet<br>
            RexKyoo, der ledes af Thilde Rex.<br>
            Jeg har gjort brug af de ansatte i firmaet både<br>
            til rengøring og til børnepasning.<br>
            Det er altid pålidelige og ordentlige mennesker <br>
            Thilde Rex sender ud<br>
            og de er gode til deres arbejde.
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
        <img class="box-profile-image"  th:src="@{/images/anbefalinger/gunvor2.jpg}">
        <div class="box-profile-text">
            <h1>Gunvor</h1>
            <h4 style="line-height:1.5">
            ”Fantastisk initiativ!!<br>
            Thilde har hjulpet os med at finde<br>
            den skønneste private børnepasser på ingen tid!<br>
            Det har været en kæmpe hjælp,<br>
            og jeg kan virkelig varmt anbefale RexKyoo.<br>
            Thilde og hendes team er super <br>
            kompetente, tjekkede og ikke mindst utrolig søde! <br>
            5 stjerner er faktisk for lidt!!”<br>
            <br>
            DR symphoni orkester og mor til Anker
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>
    <div class="box-profile">
       <img class="box-profile-image" th:src="@{/images/anbefalinger/Wojciech.jpg}">
        <div class="box-profile-text">
            <h2>Wojciech </h2>
            <h4>Ansat i RexKyoo</h4>
            <h4 style="line-height:1.5">
            RexKyoo har et arbejdsmiljø,<br>
            som gør at vi har lyst til at yde en <br>
            ekstra indsats og at være en god kollega.<br>
            Jeg får personlig udvikling, <br>
            bliver hørt og anerkendt.<br>
            <br>
            Vi har et stærkt sammenhold,<br>
            som er helt specielt i denne branche.<br>
            
            </h4>
            <h1 class="box-profile-star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace50"></div> 
    <div th:replace="@{/frontend/footer.html}"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>
</body>

</html>