<!DOCTYPE html>
<html lang="da-DK">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>RexKyoo</title>
    <link href="CSS/erhvervStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="includedMenubar"></div>
    <div class="extraSpace50"></div>

    <div class="section-grey" style="height: 460px">
        <div class="section-grey-text">
            <h2>SØGER DU ANDRE SERVICES?</h2>
            <p class="section-grey-text2">
                <i>- Få det maksimale ud af din rengøring</i> <br>
            </p>

            <h4>Det kunne f.eks. være:</h4>
            <p>
                <pre class="tab">• Vande blomster                     • Rense kaffemaskiner</pre>
                <pre class="tab">• Sætte madvarer i køleskabet        • Handle morgenbrød</pre>
                <pre class="tab">• Fjerne pantflasker                 • Indkøbe fredagskager</pre>
                <pre class="tab">• Fylde papir i kopi maskiner        </pre>
            </p>    
           <p style="line-height:2">    
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
       
        <img class="section-grey-image" src="../../static/Images/divers/service-opportunites.jpg">
    </div>

     <div id="clear-float"></div>
    <div class="extraSpace30"></div>
    <div class="bagground-image">
        <div class="bagground-image-textbox">
            <h2>FÅ DIN EGEN RENGØRINGSLØSNING</h2>
            <p>
                Vores <strong>kompetencer</strong> strækker sig bredt,<br>
                og derfor har du også mulighed for at tilkøbe flere serviceydelser. <br>
                Vi kan helt sikkert også finde den <strong>bedste løsning</strong> fordig og din virksomhed.<br>
                <br>
            </p>
            <p style="line-height:2">
                Vi tilbyder blandt andet disse ydelser: <br>
                <i class="fas fa-check"></i> Støvsugning <br>
                <i class="fas fa-check"></i> Gulvvask<br>
                <i class="fas fa-check"></i> Rengøring af toilet og bad<br>
                <i class="fas fa-check"></i> Aftørring af støv på alle overflader<br>
                <i class="fas fa-check"></i> Rengøring af køkken<br>
                <i class="fas fa-check"></i> Opfyldning af printer papir<br>
                <i class="fas fa-check"></i> Vask af tøj<br>
                <i class="fas fa-check"></i> Hentning af pakker<br>
                <i class="fas fa-check"></i> Indkøb af friske blomster<br>    
                <i class="fas fa-check"></i> Afleverer flasker <br>
            </p>
            <p>
                <strong>Priserne</strong> kan varierer afhængig af opgaven, men <br>
                starter på 375 DKK ex moms per time.<br>
                I skal selv stille rengøringsmaterialer til rådighed.<br>    
            </p>
            <p style="line-height:2">
                Du skal blot kontakte os på: <br>
                <i class="fas fa-phone-volume"></i> <strong>Telefon:</strong> +45 27 21 00 58<br>
                <i class="far fa-envelope"></i> <strong>E-mail:</strong> thilde.rex@rexkyoo.com<br>
            </p>
        </div>
    </div>

    <div id="clear-float"></div>
    <div class="extraSpace200"></div>
    <div class="extraSpace150"></div>
 
    <img class="box-imageLeft2" src="../../static/Images/divers/discount.jpg">
    <div class="box-textLeft2">
        <h1 class="section-text-green" style="font-size: 45px">Fordele ved at blive partner <br></h1>
        <h3> Stabile medarbejdere skaber god balancel</h3>
        <h3> Vi ved hvor bakterierne oftest bliver glemt</h3>
        <h3><i class="fas fa-check"></i> Håndtag på døre</h3>
        <h3><i class="fas fa-check"></i> Tæpper og stof møbler</h3>
        <h3><i class="fas fa-check"></i> Greb på skuffer</h3>
        <h3><i class="fas fa-check"></i> Kaffemaskiner og opvaskemaskiner</h3>
        <button class="but-hover" onclick="window.location.href='forretning.html'"><i class="far fa-handshake"></i> Bliv partner</button>
    </div>
   
    <div id="clear-float"></div>
    <div class="extraSpace150"></div>   
    <div id="includedFooter"></div>

    <!--fronts-->
    <script src="https://kit.fontawesome.com/cb63d83ac4.js"></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JS/divers.js"></script>
</body>

</html>