<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- SRC -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${cleaningInspector.firstName} + ' ' + ${cleaningInspector.lastName}"></title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/dashboardStatic/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/dashboardStatic/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/dashboardStatic/css/rexkyoo.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="@{/dashboard/sidebar.html}">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="@{/dashboard/topbar.html}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <!--Cleaning Inspector Info-->
                    <div class="col-7">

                        <!-- Delete button trigger modal -->
                        <button class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteInspectorModal">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>

                        <!-- Delete modal -->
                        <div class="modal fade" id="deleteInspectorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Advarsel</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p th:text="'Er du sikker på at du vil slette ' + ${cleaningInspector.firstName} + ' ' + ${cleaningInspector.lastName} + '?'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <form th:action="@{/admin/cleaning-inspector/{id}(id=${cleaningInspector.id})}" method="post">
                                            <button type="submit" id="deleteButton" class="btn btn-danger btn-lg">Ja</button>
                                        </form>

                                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Nej</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--- Delete modal end-->

                        <!-- Edit button trigger modal -->
                        <button type="button" class="btn btn-warning float-right mr-2" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-fw fa-pen"></i>
                        </button>


                        <!-- Edit Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Rediger Inspektør</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form class="needs-validation" novalidate th:action="@{/admin/cleaning-inspector-edit}" method="post">
                                            <input type="hidden" th:field="${cleaningInspector.id}">
                                            <div class="form-row">
                                                <div class="col-6 mb-3">
                                                    <label>Fornavn</label>
                                                    <input type="text" class="form-control" th:field="${cleaningInspector.firstName}">
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <label>Efternavn</label>
                                                    <input type="text" class="form-control" th:field="${cleaningInspector.lastName}">

                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-6 mb-3">
                                                    <label>Telefon</label>
                                                    <input type="tel" class="form-control" th:field="${cleaningInspector.phone}">
                                                </div>
                                                <div class="col-6">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" th:field="${cleaningInspector.email}" required>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-4 mb-3">
                                                    <label>Adresse</label>
                                                    <input type="text" class="form-control" th:field="${cleaningInspector.address}" required>
                                                </div>
                                                <div class="col-4">
                                                    <label>Postkode</label>
                                                    <input type="text" class="form-control" th:field="${cleaningInspector.zipCode}" required>
                                                </div>
                                                <div class="col-4">
                                                    <label>By</label>
                                                    <input type="text" class="form-control" th:field="${cleaningInspector.city}" required>
                                                </div>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" value="A" th:field="${cleaningInspector.incomeMethod}" required>
                                                <label class="custom-control-label" for="customControlValidation2">A Indkomst</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" value="B" th:field="${cleaningInspector.incomeMethod}" required>
                                                <label class="custom-control-label" for="customControlValidation3">B Indkomst</label>
                                            </div>
                                            <div class="custom-control custom-radio mb-3">
                                                <input type="radio" class="custom-control-input" id="customControlValidation4" name="radio-stacked" value="Faktura" th:field="${cleaningInspector.incomeMethod}" required>
                                                <label class="custom-control-label" for="customControlValidation4">Faktura</label>
                                            </div>

                                            <div class="form-group">
                                                <label>Løn</label>
                                                <input type="number" min="1" class="form-control" placeholder="0,-" th:field="${cleaningInspector.salary}" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Note</label>
                                                <input type="text" class="form-control" placeholder="" th:field="${cleaningInspector.note}" required>
                                            </div>

                                            <button class="btn btn-success" type="submit">Gem</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--- Edit modal end-->

                        <!-- Page Heading -->
                        <h1 class="h2 mb-4 text-gray-800"  th:text="${cleaningInspector.firstName} + ' ' + ${cleaningInspector.lastName}"></h1>
                        <h1 class="h5 mb-4 text-gray-800"th:text="'Email: ' + ${cleaningInspector.email}"></h1>
                        <h1 class="h5 mb-4 text-gray-800" th:text="'Telefon: ' + ${cleaningInspector.phone}"></h1>
                        <h1 class="h5 mb-4 text-gray-800" th:text="'Adresse: ' + ${cleaningInspector.address} + ', ' + ${cleaningInspector.zipCode} + ' ' + ${cleaningInspector.city} "></h1>
                        <h1 class="h5 text-gray-800 mb-4" th:text="'Inkomst: ' + ${cleaningInspector.incomeMethod}"></h1>
                        <h1 class="h5 text-gray-800 mb-4" th:text="'Løn: ' + ${cleaningInspector.salary} + ',-'"></h1>
                        <h1 class="h5 text-danger mb-4" >Sygedage: 3</h1>
                        <h1 class="h5 text-gray-800 mb-4">Straffeattest hentet:
                            <span
                                    class="fas fa-fw fa-check"
                                    style="color: limegreen">
                            </span>
                        </h1>
                        <h1 class="h5 text-gray-800 mb-4">Børneattest hentet:
                            <span
                                    class="fas fa-fw fa-times"
                                    style="color: red">
                            </span>
                        </h1>

                        <div class="col-4">
                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-success">Note</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse hide" id="collapseCardExample">
                                    <div class="card-body" th:text="${cleaningInspector.note}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 class="h2 mb-4 text-gray-800">Økonomi</h1>

                        <div class="row mb-4">
                            <a href="#" class="mr-2 ml-2 btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                                <span class="text">Månedlig</span>
                            </a>
                            <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                                <span class="text">Årlig</span>
                            </a>
                        </div>

                        <div class="row mb-4">
                            <!-- Omsætning-->
                            <div class="col-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Omsætning</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">150000,-</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Udgift -->
                            <div class="col-4">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Udgifter</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">150000,-</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Profit -->
                            <div class="col-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Profit</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">150000,-</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                                <hr>
                                Økonomi nuværende måned
                            </div>
                        </div>


                    </div>
                    <!--End of Customer Info-->

                    <!--cleaning inspectors and team-->
                    <div class="col-5 border-left-success">

                        <h1 class="h3 mb-4 text-gray-800">Team</h1>
                        <a href="#">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img th:src="@{/Images/anbefalinger/Wojciech.jpg}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Wojciech Jensen</h5>
                                            <p class="card-text">Timeløn: 120 kr,-</p>
                                            <p class="card-text">Indkomst: A</p>
                                            <p class="card-text">Man -<span class="text-success">Tir -</span> Ons -<span class="text-success">Tor -</span> Fre - Lør - Søn</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <!--end of inspector-->
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <!--
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; RexKyoo 2019</span>
                </div>
            </div>
        </footer>
        -->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/dashboardStatic/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/dashboardStatic/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/dashboardStatic/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/dashboardStatic/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/dashboardStatic/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/dashboardStatic/js/demo/chart-area-demo.js}"></script>


</body>

</html>
